<footer class="footer">
  <div class="footer-container">
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li><a class="footer-logo">yachtjet</a></li>
        <li class="footer-menu-item">
          <a href="#fleet" class="footerLink">about</a>
        </li>
        <li class="footer-menu-item">
          <a href="#rent-yacht" class="footerLink">yachts</a>
        </li>
        <li class="footer-menu-item">
          <a href="#reviews" class="footerLink">reviews</a>
        </li>
      </ul>
      <div class="footer-social-container">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="" class="footer-sotial-link"><svg class="footer-sotial-icon" width="19" height="19">
                <use href="./img/sprite.svg#icon-insta_white"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-sotial-link"><svg class="footer-sotial-icon" width="19" height="19">
                <use href="./img/sprite.svg#icon-youtube_white"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-sotial-link"><svg class="footer-sotial-icon" width="19" height="19">
                <use href="./img/sprite.svg#icon-facebook_white"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <h3 class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </h3>
    <nav class="footer-nav-list">
      <p class="footer-nav-item">2023. Yacht Adventures</p>
      <a class="footer-nav-item" href="./privacy-policy.html" class="nav-link-footer" target="_blank"
        rel="noopener noreferrer">Privacy Policy</a>
    </nav>
  </div>
</footer>