<header>
  <div class="container headerWrapper">
    <span class="headerlogo">yachtjet</span>
    <div class="headerButtons">
      <div class="headerButtons">
        <a href="#fleet" class="headerBtn headerLink">about</a>
        <a href="#rent-yacht" class="headerBtn headerLink">yachts</a>
        <a href="#reviews" class="headerBtn headerLink">reviews</a>
      </div>

    </div>
    <div class="headerLinks">
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-insta_black">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-youtube_black">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-facebook_black">
      </svg>
    </div>
    <button type="button" class="headerButton">
      <svg class="icon iconBurger">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="icon iconClose hidden">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="mobMenu">
    <div class="mobMenuButtons">
      <a href="#fleet" class="mobMenuBtn">about</a>
      <a href="#rent-yacht" class="mobMenuBtn">yachts</a>
      <a href="#reviews" class="mobMenuBtn">reviews</a>
    </div>
    <div class="mobMenuLinks">
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-insta_white">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-youtube_white">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-facebook_white">
      </svg>
    </div>
  </div>
</header>