<header>
  <div class="container headerWrapper">
    <span class="headerlogo">yachtjet</span>
    <div class="headerButtons">
      <button type="button" class="headerBtn">about</button>
      <button type="button" class="headerBtn">yachts</button>
      <button type="button" class="headerBtn">reviews</button>
    </div>
    <div class="headerLinks">
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-insta_black">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-youtube_black">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-facebook_black">
      </svg>
    </div>
    <button type="button" class="headerButton">
      <svg class="icon iconBurger">
        <use class="iconUse" href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobMenu">
    <div class="mobMenuButtons">
      <button type="button" class="mobMenuBtn">about</button>
      <button type="button" class="mobMenuBtn">yachts</button>
      <button type="button" class="mobMenuBtn">reviews</button>
    </div>
    <div class="mobMenuLinks">
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-insta_white">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-youtube_white">
      </svg>
      <svg width="22" height="22">
        <use href="./img/sprite.svg#icon-facebook_white">
      </svg>
    </div>
  </div>
</header>