<section>
  <div class="container oppoWrapper">
    <div class="oppoList">
      <div class="oppoItem">
        <p class="oppoNum">01</p>
        <p class="oppoParagraph">Swimming and water sports: try your hand at water skiing</p>
      </div>
      <div class="oppoItem">
        <p class="oppoNum">02</p>
        <p class="oppoParagraph">Fishing: try to catch your own dinner</p>
      </div>
      <div class="oppoItem">
        <p class="oppoNum">03</p>
        <p class="oppoParagraph">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the
          water</p>
      </div>
      <div class="oppoItem">
        <p class="oppoNum">04</p>
        <p class="oppoParagraph">Rest and relaxation: read a book or listen to music while enjoying the outdoor
          atmosphere</p>
      </div>
    </div>
    <picture>
      <source srcset="./img/opportunities/oppoDesk@2x.png" media="(min-width: 1280px) and (min-resolution: 2dppx)">
      <source srcset="./img/opportunities/oppoDesk.png" media="(min-width: 1280px)">
      <source srcset="./img/opportunities/oppoTab@2x.png"
        media="(min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx)">
      <source srcset="./img/opportunities/oppoTab.png" media="(min-width: 768px) and (max-width: 1199px)">
      <source srcset="./img/opportunities/oppoMob@2x.png" media="(max-width: 767px) and (min-resolution: 2dppx)">
      <source srcset="./img/opportunities/oppoMob.png" media="(max-width: 767px)">
      <img class="oppoSource" src="./img/opportunities/oppoMob.png" alt="Picture of the relax zone on the yacht"
        loading="lazy">
    </picture>
  </div>
</section>