<section class="section rental-section">
  <div class="container rental-container">
    <h2 class="rental-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="rental-list-items">
      <li class="rental-item">
        <div class="rental-box-card">
          <div class="rental-box-img">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../img/rental/arrow-d-@2x.jpg 2x,
                  ../img/rental/arrow-d.jpg     1x
                " />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/rental/arrow-t-@2x.jpg 2x,
                  ../img/rental/arrow-t.jpg     1x
                " />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/rental/arrow-m-@2x.jpg 2x,
                  ../img/rental/arrow-m.jpg     1x
                " />
              <img src="../img/rental/arrow-m.jpg" alt="Photo Arrow yaht"
            /></picture>
          </div>
          <div class="rental-box-title">
            <h3 class="rental-box-yaht-title">arrow</h3>
            <p class="rental-box-yaht-text">luxury yahts</p>
          </div>
          <div class="rental-box-categories">
            <ul class="rental-categories-list">
              <li class="rental-categories-item">
                <p class="rental-categories">length</p>
                <p class="rental-categories-text">48m(155ft)</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">builder</p>
                <p class="rental-categories-text">Admiral</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">built</p>
                <p class="rental-categories-text">2021</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">guests</p>
                <p class="rental-categories-text">11 in 5 cabins</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">price</p>
                <p class="rental-categories-text">€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="rental-item">
        <div class="rental-box-card">
          <div class="rental-box-img">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../img/rental/benetti-d-@2x.jpg 2x,
                  ../img/rental/benetti-d.jpg     1x
                " />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/rental/benetti-t-@2x.jpg 2x,
                  ../img/rental/benetti-t.jpg     1x
                " />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/rental/benetti-m-@2x.jpg 2x,
                  ../img/rental/benetti-m.jpg     1x
                " />
              <img
                src="../img/rental/benetti-m.jpg"
                alt="Photo BENETTI OASIS yaht"
            /></picture>
          </div>
          <div class="rental-box-title">
            <h3 class="rental-box-yaht-title">BENETTI OASIS 40M BO122</h3>
            <p class="rental-box-yaht-text">luxury yahts</p>
          </div>
          <div class="rental-box-categories">
            <ul class="rental-categories-list">
              <li class="rental-categories-item">
                <p class="rental-categories">length</p>
                <p class="rental-categories-text">41m (133ft)</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">builder</p>
                <p class="rental-categories-text">Benetti</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">built</p>
                <p class="rental-categories-text">2025</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">guests</p>
                <p class="rental-categories-text">10 in 5 cabins</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">price</p>
                <p class="rental-categories-text">€23,210,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="rental-item">
        <div class="rental-box-card">
          <div class="rental-box-img">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../img/rental/belle-d-@2x.jpg 2x,
                  ../img/rental/belle-d.jpg     1x
                " />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/rental/belle-t-@2x.jpg 2x,
                  ../img/rental/belle-t.jpg     1x
                " />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/rental/belle-m-@2x.jpg 2x,
                  ../img/rental/belle-m.jpg     1x
                " />
              <img src="../img/rental/belle-m.jpg" alt="Photo BELLE ANNA yaht"
            /></picture>
          </div>
          <div class="rental-box-title">
            <h3 class="rental-box-yaht-title">BELLE ANNA</h3>
            <p class="rental-box-yaht-text">luxury yahts</p>
          </div>
          <div class="rental-box-categories">
            <ul class="rental-categories-list">
              <li class="rental-categories-item">
                <p class="rental-categories">length</p>
                <p class="rental-categories-text">50m(155ft)</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">builder</p>
                <p class="rental-categories-text">ISA</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">built</p>
                <p class="rental-categories-text">2012</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">guests</p>
                <p class="rental-categories-text">12 in 6 cabins</p>
              </li>
              <li class="rental-categories-item">
                <p class="rental-categories">price</p>
                <p class="rental-categories-text">€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="rental-btn" href="#">Yacht rental</a>
  </div>
</section>
