<section class="review-section section" id="review">
  <div class="container rewiew-container">
    <h2 class="review-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="review-description">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="review-list">
      <li class="rewiew-list-item">
        <img
          class="rewiew-item-image"
          srcset="../img/review/client1@2x.png"
          src="../img/review/client1@1x.png"
          alt="client 1"
          width="56"
          height="56"
        />
        <h3 class="rewiew-item-title">John Wax</h3>
        <p class="rewiew-item-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
    </ul>
  </div>
</section>
