/* Main styles for rental section */
/* .rental-section {
  padding: 40px 0;
} */
/* .rental-container {
  padding: 0px 20px;
} */
/* Main styles for rental section */

/* .rental-box-title {
  display: flex;
  justify-content: space-between;
}
.rental-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
} */
/* .rental-list-items {
}
.rental-item {
}
.rental-box-card {
}
.rental-box-img {
}
.rental-box-title {
}
.rental-box-categories {
}
.rental-categories-list {
}
.rental-categories-item {
}
.rental-categories-text {
}
.rental-btn {
} */
